.bento__item {
  background-color: var(--mantine-color-palette-7);

  border-radius: 1rem;
  border: 1px solid var(--mantine-color-palette-5);
  box-shadow: 5px 5px 5px 0px var(--mantine-color-palette-8);

  transition: all 0.1s ease-in-out;

  &:hover {
    transform: scale(1.01);
  }
}
