.activity-link:hover {
  text-decoration: underline;
}

.activity-item {
  background-color: var(--mantine-color-palette-7);
  border-radius: 0.8rem;

  &:hover {
    background-color: var(--mantine-color-palette-9);
  }
}
