@use '../../styles/variables' as v;

.header {
  &__logo {
    font-family: 'Gemunu Libre', sans-serif;
  }

  &__avatar {
    cursor: pointer;
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-unlogged {
  opacity: 0;
  animation: fadeInTop 1s ease 1s forwards;
}

.menu-item:hover {
  background-color: var(--mantine-color-palette-9);
}
