.navbarmini {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__counter {
    border: 1px solid var(--mantine-color-palette-7);
    border-radius: var(--mantine-radius-lg);
  }

  &__link {
    padding: 0.3rem 0.5rem;
    border-radius: var(--mantine-radius-md);
  }

  &__link:hover {
    background-color: var(--mantine-color-palette-7);
    border-radius: var(--mantine-radius-lg);
  }

  &__toggle {
    position: relative;
    left: 50px;
  }
}
