.activity {
  &__banner {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(71, 71, 71);

    &-icon {
      border: 1px solid grey;
      border-radius: 3rem;
      padding: 8px;

      box-shadow: 3px 0px 10px 0px rgba(126, 124, 124, 0.5);
    }
  }

  &__steps {
    width: 75%;
    margin-right: 5rem;

    &-step {
      background-color: var(--mantine-color-palette-7);

      border: 1px solid rgb(93, 89, 89);
      border-radius: 1rem;
      box-shadow: 3px 3px 10px 0px rgba(126, 124, 124, 0.5);
      padding: 1rem;
    }

    &-button {
      margin-right: 0.4rem;
    }
  }
}
