.login-container {
  width: 30%;
  padding: 2rem;
  background-color: var(--mantine-color-palette-6);
  border: 2px solid var(--mantine-color-palette-7);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.login-form {
  width: 80%;
}
